<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Ebook</title>
</head>
<body>
    <h2>Good news, Talents!</h2>
    <p>Zeal Indonesia baru saja meluncurkan program mini class yang dapat diikuti oleh semua kalangan pecinta dunia digital. Sebagai bentuk dukungan kami terhadap kebutuhan industri kalian, kami membuat tiga ebook gratis yang bisa di download!</p>
    <ul>
        <li><em>Ebook</em> Digital Marketing</li>
        <li><em>Ebook</em> Programming</li>
        <li><em>Ebook</em> Graphic Design</li>
    </ul>
    <p>Kami berharap adanya ebook ini merupakan hal positif serta bermanfaat bagi siapapun dan di mana pun yang ingin belajar.</p>
    <h3>Silahkan download pada link berikut:</h3>
    <h4><a href="https://google.co.id">LINK</a></h4>
    <p>Jangan lupa follow sosial media Zeal Indonesia agar selalu mendapat info terupdate setiap harinya!</p>
    <br>
    <footer>
        <span>Salam,</span>
        <h4>Zeal Indonesia</h4>
    </footer>

</body>
</html>